<div th:fragment="content">
    <!--                Admins panel-->
    <div class="tab-pane fade show active" id="admin-page" role="tabpanel"
         aria-labelledby="user-table-tab">
        <h1>Information panel</h1>

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="user-table-tab" data-toggle="tab" href="#user-table"
                   role="tab" aria-controls="user-table" aria-selected="true">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user" role="tab"
                   aria-controls="new-user" aria-selected="false">New user</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- Users Table Tab -->
            <div class="tab-pane fade show active" id="user-table" role="tabpanel"
                 aria-labelledby="user-table-tab">
                <h2>All users</h2>
                <table class="table bg-white" id="usersTable">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <!-- New User Tab -->
            <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                <h2>Add new user</h2>
                <div class="container-fluid centered bg-white">
                    <div class="container col-4 my-5">
                        <br>
                        <form id="newUserForm">
                            <div class="form-group">
                                <label for="firstName">First name</label>
                                <input class="form-control" id="firstName" type="text"
                                       name="firstName"/>
                                <label id="firstName-error" class="error" for="firstName"></label>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last name</label>
                                <input class="form-control" id="lastName" type="text" name="lastName"/>
                                <label id="lastName-error" class="error" for="lastName"></label>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input class="form-control" id="age" type="number" placeholder="Age"
                                       name="age"/>
                                <label id="age-error" class="error" for="age"></label>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" placeholder="Email"
                                       name="email"/>
                                <label id="email-error" class="error" for="email"></label>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" type="password"
                                       placeholder="Password" name="password"/>
                                <label id="password-error" class="error" for="password"></label>
                            </div>
                            <div class="form-group">
                                <label for="roles">Role</label>
                                <select multiple class="form-control" id="roles" name="roles"></select>
                                <label id="roles-error" class="error" for="roles"></label>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit" id="addUserButton">Add new
                                    user
                                </button>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>