<div th:fragment="content">
    <!--                Admins panel-->
    <div class="tab-pane show active" id="admin-page" role="tabpanel"
         aria-labelledby="user-table-tab">
        <h1>Information panel</h1>

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="user-table-tab" data-toggle="tab" href="#user-table"
                   role="tab" aria-controls="user-table" aria-selected="true">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user" role="tab"
                   aria-controls="new-user" aria-selected="false">New user</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- Users Table Tab -->
            <div class="tab-pane fade show active" id="user-table" role="tabpanel"
                 aria-labelledby="user-table-tab">
                <h2>All users</h2>
                <table class="table bg-white" id="usersTable">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>h
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <!-- New User Tab -->
            <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                <h2>Add new user</h2>
                <div class="container-fluid centered bg-white">
                    <div class="container col-4 my-5">
                        <br>
                        <form id="newUserForm">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="form-group">
                                <label for="firstName">First name</label>
                                <input class="form-control" id="firstName" type="text"
                                       name="firstName"/>
                                <label id="firstName-error" class="error" for="firstName"></label>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last name</label>
                                <input class="form-control" id="lastName" type="text" name="lastName"/>
                                <label id="lastName-error" class="error" for="lastName"></label>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input class="form-control" id="age" type="number" placeholder="Age"
                                       name="age"/>
                                <label id="age-error" class="error" for="age"></label>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" placeholder="Email"
                                       name="email"/>
                                <label id="email-error" class="error" for="email"></label>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" type="password"
                                       placeholder="Password" name="password"/>
                                <label id="password-error" class="error" for="password"></label>
                            </div>
                            <div class="form-group">
                                <label for="roles">Role</label>
                                <select multiple class="form-control" id="roles" name="roles"></select>
                                <label id="roles-error" class="error" for="roles"></label>
                            </div>
                                <button class="btn btn-success" type="submit" id="addUserButton">Add new
                                    user
                                </button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="form-group">
                            <label for="idEdit">ID</label>
                            <input class="form-control" id="idEdit" name="id" type="text" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="firstNameEdit">First name</label>
                            <input class="form-control" id="firstNameEdit" name="firstName" type="text"/>
                            <label id="firstNameEdit-error" class="error" for="firstNameEdit"></label>
                        </div>
                        <div class="form-group">
                            <label for="lastNameEdit">Last name</label>
                            <input class="form-control" id="lastNameEdit" name="lastName" type="text"/>
                            <label id="lastNameEdit-error" class="error" for="lastNameEdit"></label>
                        </div>
                        <div class="form-group">
                            <label for="ageEdit">Age</label>
                            <input class="form-control" id="ageEdit" name="age" type="number"/>
                            <label id="ageEdit-error" class="error" for="ageEdit"></label>
                        </div>
                        <div class="form-group">
                            <label for="emailEdit">Email</label>
                            <input class="form-control" id="emailEdit" name="email" type="email"/>
                            <label id="emailEdit-error" class="error" for="emailEdit"></label>
                        </div>
                        <div class="form-group">
                            <label for="passwordEdit">Пароль</label>
                            <input class="form-control" id="passwordEdit" name="password" type="password"/>
                            <label id="passwordEdit-error" class="error" for="passwordEdit"></label>
                        </div>
                        <div class="form-group">
                            <label for="rolesEdit">Role</label>
                            <select multiple class="form-control" name="roles" id="rolesEdit"></select>
                            <label id="rolesEdit-error" class="error" for="rolesEdit"></label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="editButton" data-id="${user.id}">Edit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTitle">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="deleteForm">
                        <div class="form-group">
                            <label for="idDelete">ID</label>
                            <input class="form-control" id="idDelete" name="id" type="text" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="firstNameDelete">First name</label>
                            <input class="form-control" id="firstNameDelete" name="firstName" type="text" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="lastNameDelete">Last name</label>
                            <input class="form-control" id="lastNameDelete" name="lastName" type="text" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="ageDelete">Age</label>
                            <input class="form-control" id="ageDelete" name="age" type="number" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="emailDelete">Email</label>
                            <input class="form-control" id="emailDelete" name="email" type="email" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="rolesDelete">Role</label>
                            <select multiple class="form-control" name="roles" id="rolesDelete" readonly></select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" id="deleteButton" data-id="${user.id}">Delete</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


</div>